:root
{
    --paper-color: #e8e6be; 
    --text-color: #3968bf; 
    --green-border: rgb(61,191,107); 
    --orange-border: orange; 
    --brown-border: hsl(360deg, 92%, 41%); 
    --red-line: color(from hsl(360deg, 92%, 41%) srgb r g b);
    --blue-line: color(from #3968bf srgb r g b);
    --hover-button: gray;
}



/*Change the color of the page!*/ 
body
{
    background-color: var(--paper-color, yellow); /*Good example of a variable with a fallback*/
} 



.heading
{
    position: fixed;
}
/*Change the headings in the website*/
.website-headings
{
    color: var(--text-color); 
    text-decoration: underline;
    font-family: 'Courier New';
    border-style: solid;
    border-color: purple;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px ;
    grid-template-rows: 25% 100px auto;
    grid-template-rows: 25% 25%;
    position: static;
}





#send-button
{
    border-radius: 25cm;
    border-color: var(--orange-border);
    border-width: 0.05in;
    border-top: 5em;
    display: block;
    position: relative;
    top: 5px;
    left: 500px;
}

#send-button:hover
{
    background-color: var(--hover-button);
}

#send-button:active
{
    box-shadow: 10px 5px 5px black;
}

@media only screen and (max-width: 600px) 
{
    body
    {
        background-color: var(--paper-color, yellow); 
    }
}

#date, #send-button
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#date
{
    border-width: 1vh;
    border-color: var(--orange-border);
    border-top: 5vw;
    border-radius: 25cm;
}

div p 
{
    color: blue;
}

div > h1
{
    color: var(--green-border);
}


div ~ p
{
    background-color: pink;
}

form + h4
{
    background-color: aquamarine;
}

h4.multiple-selectors
{
    background-color: red;
}

fieldset:has(+div)
{
    background-color: rgb(139, 139, 235);
}


ul
{
    li
    {
        color: coral;

    }
}


*
{
    border-radius: 1cm;
}

#back-end
{
    /*long hand notation for margins*/
    margin-top: 50px;
    margin-bottom: 50px; 
    margin-left: 50px; 
    margin-right: 50px;
    display: inline; 
}




#databases
{
    /*short hand notation for margins*/
    margin: 50px 50px 50px 50px;
    display: inline; 
}

#front-end
{
    margin: auto;
    display: inline; 
}


/*Implementing a flex box*/
.flexbox-example
{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
}


#better
{
    /*Makes it completely surrounding by empty space!*/
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    
    height: 60px; 
    width: 100px;
    max-width: 100px;
    max-height: 60px;
}

#future-plans
{
    /*short hand notation for padding*/
    padding: 25px 25px 25px 25px;
}

